@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --backcolor: white;
    --fillcolor: rgb(222, 236, 255);
    --blog-text-color: rgb(92, 116, 151);
}

.top-box {
    height: 125px;
    background-color: var(--fillcolor);
}

.page-top-section {
    background-color: var(--backcolor);
}

.prices-heading {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.prices-heading h3 {
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
}

.prices-heading p {
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.price-box-roll {
    margin-top: 30px;
    text-align: center;
}

.price-box {
    display: inline-block;
    width: 30%;
    height: 20%;
    /*height: 240px;*/
    margin-left: 20px;
    margin-right: 20px;
    padding: 60px 11px;
    background-color:#ececec;
}

.price-box p {
    font-size: 1.2rem;
}

.page-bottom-section {
    background-color: var(--backcolor);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px 0 20px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--fillcolor);
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

body span{
    background-color: var(--fillcolor);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.bottom-box {
    background-color: var(--fillcolor);
    height: 50px;
}

.wave {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 135px;
}

.wave .shape-fill {
    fill: var(--fillcolor);
}

.custom-shape-divider-bottom-1689086225 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689086225 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689086225 .shape-fill {
    fill: var(--fillcolor)
}

@media(max-width:1250px) {
    .blog-box {
        width: 300px;
    }
    
    .price-box-roll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 60px 0 60px;
        margin-top: 30px;
    }
    
    .price-box {
        display: inline-block;
        width: 30%;
        height: 15%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        padding: 60px 11px;
        background-color:#ececec;
    }
}
@media(max-width:1100px) {
    .blog-box {
        width: 70%;
    }
}
@media(max-width:550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }
    #blog {
        padding: 20px;
    }
}