:root {
    --backgroundcolor: rgb(222, 236, 255);
    --background: rgba(0, 0, 0, .15);
    --vidbackground: rgba(0, 0, 0, 0);
    --textcolor: #b6b6b6;
    --textbarcolor: #b1b1b1;
    --textcolordark: #2d2e33;
}

*, *::before, *::after {
    box-sizing: border-box;
}