@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0px;
}

html {
    height: 100%;
}

body {
    margin: 0;
    /* Body background left out for curvature background. */
    /* background: var(--backgroundcolor); */
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

/* Video background box */
.vidbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--vidbox-color);
    color: white;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    min-height: 75vh;
}

.vidbox h1 {
    position: absolute;
    bottom: 0;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

/* Introduction text */
.introduction {
    background-color: var(--bg-blue);
}

.intro-img-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.intro-img {
    max-width: 600px;
    float: left;
    border: 2px solid var(--textcolordark);
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.content{
    display: block;
    text-align: center;
    color:var(--text-color);
    max-width: 100%;
}

.content h1{
    font-size: 40px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 5px;
}

.content p{
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    word-wrap: normal;
    margin-bottom: 0;
}

/* Two images */
.midpage {
    background-color: var(--bg-white);
}

.wrapper {
    margin: 70px auto;
    width: 70%;
}

.img-left {
    max-width: 360px;
    float: left;
    border: 2px solid var(--img-outline-color);
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.text-box-left {
    color: var(--text-color);
    margin-bottom: 110px;
    text-align: left;
    width: 100%;
}

.text-box-left h2,
.text-box-right h2 {
    font-size: 42px;
    margin-top: 0;
}

.img-right {
    max-width: 360px;
    float: left;
    border: 2px solid var(--img-outline-color);
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.text-box-right {
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: left;
    max-width: 100%;
}

.text-box-left p,
.text-box-right p {
    font-size: 20px;
}

.about-us {
    background: var(--bg-blue);
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.about-us-img {
    max-width: 600px;
    float: left;
    border: 2px solid var(--textcolordark);
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-right: 20px;
}

.about-us h1 {
    text-align: center;
    align-items: center;
    font-size: 60px;
    margin-bottom:60px;
}

.about-us p {
    font-size: 1.2rem;
}

.about-us-text {
    color: black;
    margin-bottom: 20px;
    text-align: left;
    max-width: 100%;
}

.about-us-text h2 {
    font-size: 42px;
}

.about-us-text p {
    font-size: 16px;
}

/* 3 Images near the page bottom */
.img-roll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 60px 0 60px;
    background-color: var(--bg-blue);
}

.img-roll .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-roll .box .imgrow{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.img-roll .box .imgrow img{
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid var(--img-outline-color);
}

.endpage {
    background-color: var(--bg-blue);
    padding-bottom: 75px;
}

/* Handle design on larger screens. */
@media screen and (min-width: 1200px) {
    .vidbox {
        min-height: 75vh;
    }

    .content h1 {
        font-size: 70px;
    }

    .logo {
        grid-column: 1 / 2;
        color: var(--text-color);
    }

    .img-left {
        max-width: 360px;
        max-height: 275px;
    }

    .img-right {
        max-width: 360px;
        max-height: 275px;
        float: right;
        border: 2px solid var(--text-color);
        border-radius: 5px;
        margin-left: 15px;
    }
    
    .text-box-right {
        color: var(--text-color);
        text-align: right;
        max-width: 600px;
        float: right;
    }
}